<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axeac.app.sdk">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:name=".application.BaseApplication">

        <activity
            android:name="com.axeac.app.sdk.activity.ComponentActivity"
            android:configChanges="orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name="com.axeac.app.sdk.activity.MainActivity1"
            android:configChanges="orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axeac.app.sdk.activity.ImageShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axeac.app.sdk.activity.FileSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axeac.app.sdk.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axeac.app.sdk.activity.SignActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="com.axeac.app.sdk.provider.MapSuggestionProvider"
            android:authorities="com.axeac.app.client.MapSuggestionProvider"
            android:exported="true"></provider>

        <meta-data
            android:name="com.axeac.app.sdk.utils.MyGlideMoudle"
            android:value="GlideModule" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d8c81aa3e9ce6840e3f4dfc7b6970ff4"/>

        <meta-data android:value="572ab7fde0f55a7f4f001b68" android:name="UMENG_APPKEY"/>
        <meta-data android:value="WorkCenter" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
